<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial;
      padding: 10px;
      
    }
    
    /* Header/Blog Title */
    .header {
      padding: 30px;
      text-align: center;
      background: white;
      background-image: url("https://cdn.shopify.com/s/files/1/0279/8335/products/ruby1_1024x1024.png?v=1538028196");
      background-size:200px;
    }
    .topnav {
  overflow: hidden;
  background-color:red;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Footer */
.footer {
  padding: 60px;
  text-align: center;
  background: #ddd;
  margin-top: 350px;
}



.glow {
  font-size: 80px;
  color: white;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px red, 0 0 20px blue, 0 0 30px green, 0 0 40px black, 0 0 50px pink ;
  }
  to {
    text-shadow: 0 0 20px gold, 0 0 30px firebrick, 0 0 40px aqua, 0 0 50px chartreuse, 0 0 60px rebeccapurple;
  }
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<div class="header">
  <form autocomplete="off" class="search_box" action="file:///C:/search" method="get" data-role="search">
  <div class="search_wrapper">
      <input type="text" name="q" value="" class="index_input_search" placeholder="Nhập từ khóa tìm kiếm">
      <button class="btn_search_submit btn" type="submit">
        <span>Tìm ngay</span>
    </button>
  </div>
  </form>
 
  <div class="glow">Welcome to HOHs Shop</div>
</div>
<div class="topnav">
      <a href="login">Login</a>
      <a href="products">Products</a>
      <a href="order">Order</a>
      <a href="/">Home</a>
    </div>
<%- include('partials/header') -%>

<HR>
    <div class="alert alert-warning">
      <H1>TẠO HÓA ĐƠN BÁN HÀNG</H1>
    </div>
<HR>


    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <H1>Các sản phẩm</H1>
            </div>
            
                <div class="row">
				<table width = "100%">
                <% for (var i = 0; i < productlist.length; i++) { %>
						<tr style="border-width: 5px;border-color: rgb(33, 158, 81);padding-bottom: 15px;">
							<td>
								<img width="300px" height="230px" src="/images/<%= productlist[i].urlImg%>">
							</td>
							<td > 
								<H3><%= productlist[i].Name %></H3>
                                <p><b>Price: </b>
                                <%= productlist[i].Price%> / <%= productlist[i].Unit%> </p>
								
								<p><b>Information: </b></p>                                
                                <p><%= productlist[i].Information%> </p>
								<button type="button" class="btn btn-success" onclick="themvao('<%= productlist[i]._id %>', '<%= productlist[i].Name %>', '<%= productlist[i].Price%>' )">Thêm vào</button>
							</td>
						</tr>
                    <% } %>
					
				</table>
				</div>
					

            
        </div>

        <div class="col-sm-4">
            <div class="row">
                <H1>GIỎ hàng</H1>
            </div>
            <div class="row" id="giohang">
                <table width="100%" id="giohangTab" style="border-width: 5px;border-color: rgb(33, 158, 81);padding-bottom: 15px;">
				
				</table>
            </div>
            
            <form action="/payment">
            <input  name="dssp" id="dssp" type="hidden" value="">
            <button type="button" class="btn btn-success" onclick="submit()">Thanh toán</button>
            </form>
        </div>        
      </div>

<script>
    var dsspmua = "";
    var giohang = {};

    function addGioHang(xID, xName, xPrice) {
        var hangthem = giohang[xID];

        console.log(hangthem);

        if (hangthem) {
            hangthem["soluong"] += 1
        } else {
            hangthem = { "ten" : xName, "gia" : xPrice, "soluong" : 1};
        }
        giohang[xID] = hangthem;

        console.log(hangthem);

    }

    function themvao(xID, xName, xPrice) {
        //alert(xID + "  " + xName);
        var x = document.getElementById("giohangTab");
        var ds = document.getElementById("dssp");

        /// ADD
        addGioHang(xID, xName, xPrice);

        /// show list
        var xkeys = Object.keys(giohang);
        var showlist = "";
        dsspmua = "";

        for(j=0; j<xkeys.length; j++)
        {
            dsspmua += xkeys[j] + "_" + giohang[ xkeys[j] ]["soluong"] + "_";
            showlist += "<tr> <td> " 
                + giohang[ xkeys[j] ]["ten"] 
                + " </td> <td> "  + giohang[ xkeys[j] ]["soluong"] + " </td> <td> "
                + giohang[ xkeys[j] ]["gia"] + " </td></tr>";
        };


        x.innerHTML = showlist;
        ds.value = dsspmua;
    }


</script>

<%- include('partials/footer') -%>
